@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.note {
    background-color: #fffc88;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    font-family: 'Reenie Beanie', cursive; 
    border-radius: 5px; 
    position: relative;
}

.note:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: red; 
    border-radius: 50%; 
    transform: translateX(-50%) rotate(45deg); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.todoContainer {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.todoCreateForm {
    width: 100%; 
    max-width: 900px; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noteInput {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 15px;
}

.todoInput {
    flex-grow: 1;
    padding: 20px 10px;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: solid 1px #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.selectCountry {
    flex-grow: 1;
    width: 100%;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: solid 1px #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}


.buttonCreate {
border: none;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
background-color: rgb(26, 76, 169);
color: white;
padding: 10px 20px;
font-family: 'Montserrat', sans-serif;
margin-top: 10px;
}

.todoContainer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 300px;
    margin-left: 300px;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}

.date-picker-button {
    width: 100%;
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: white;
}


.titleTodoListApp {
color: white;
}

.todo { margin-top: 20px; padding: 10px; background-color: white; border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.todoTitle {
font-family: 'Montserrat', sans-serif;    
flex: 1;
font-size: 20px;
}


.subtitleTodoListApp {
    font-family: 'Montserrat', sans-serif;    
    font-size: 15px;
    color: white;
    }

.todoUpdateForm,
.todoInfo {
font-family: 'Montserrat', sans-serif;
display: flex;
align-items: center;
gap: 5px;
}

.button {font-family: 'Montserrat', sans-serif; border: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: rgb(72, 122, 221); color: white; padding: 10px 20px ; }

.buttonDelete { font-family: 'Montserrat', sans-serif; border: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: rgb(169, 26, 26); color: white; padding: 10px 20px ; }

.buttonCancel { font-family: 'Montserrat', sans-serif; border: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; background-color: rgb(209, 116, 116); color: white; padding: 10px 20px ; }

